/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  background-color: rgba(136, 231, 136, 0.7);
  position: fixed !important;
  top: 0;
  width: 100%;
}

.navbar-brand {
  white-space: normal;
  text-align: center;
  /* word-break: break-all; */

  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none !important;
  color: black !important;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-decoration: none !important;
  padding: 0 20px;
}

a {
  color: white !important;
}



ul {
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 !important;
}

.nav-item {
  list-style: none;
  text-decoration: none !important;
  font-family: 'Times New Roman', Times, serif !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
  margin: 0 30px !important;
}

.container {
  padding: 16px;
  margin-top: 82px;
  /* background-color: rgba(136, 231, 136, 0.3); */
}


/* .btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

/* .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: rgb(209, 32, 32);
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Footer section */

footer {
  position: relative;
  background-color: white;
  text-align: center;
  margin-top: 0;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
}

.footer {
  font-size: x-large;
  color: grey;
}

.footer-social {
  font-size: x-large;
  font-weight: bolder;
  color: grey;
}

.footer-anochors {
  font-size: x-large;
  color: rgba(136, 231, 136);
  text-decoration: none !important;
}