@page
@model Y23_DirtDwellers.Pages.Plants.IndexModel

@{

    ViewData["Title"] = "Index";
}
<script src="https://kit.fontawesome.com/afb4fa2f58.js" crossorigin="anonymous"></script>
<img src="~/imgs/5.jpg" class="homeback" />
<h1>Contact Us</h1>


<div class="container">
    @* <h1>Contact Us</h1> *@

    <p>If you have any questions or concerns please contact us here:</p>
    <div class="contact-box">
        <div class="contact-left">
            <h3>Send your request</h3>
            <form>
                <div class="input-row">
                    <div class="input-group">
                        <label>Name</label>
                        <input type="text" placeholder="Enter your name">

                    </div>
                    <div class="input-group">
                        <label>Phone</label>
                        <input type="text" placeholder="Enter your phone number">

                    </div>
                </div>
                <div class="input-row">
                    <div class="input-group">
                        <label>Email</label>
                        <input type="email" placeholder="Enter your email">

                    </div>
                    <div class="input-group">
                        <label>Subject</label>
                        <input type="text" placeholder="">

                    </div>
                </div>

                <label>Message</label>
                <textarea rows="5" placeholder="Type your message..."></textarea>

                <button type="Submit">SEND</button>

            </form>

        </div>

        <div class="contact-right">
            <h3>Reach Us</h3>

            <table>
                <tr>
                    <td>Email</td>
                    <td>Dirt-Dwellers@gmail.com</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>1-022-202-2022</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>123 Muddy St. J92 4N3, Quebec</td>
                </tr>
            </table>
        </div>

    </div>
</div>

<div class="rev-section">
    <h2 class="title">Our Guest Love Us</h2>
    <p class="note">Download Dirt Dwellers Today!</p>


    <div class="reviews">
        <div class="review">
            <img src="imgs/joseph.jfif" width="250" />
        </div>
        <div class="body-review">
            <div class="name-review">Joseph W.

            </div>
            <div class="place-review">Canada</div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

            <div class="desc-review">Dirt Dwellers is a great app.
                Always reminds me to water my plants.
            </div>
        </div>
    </div>

    <div class="reviews">
        <div class="review">
            <img src="imgs/marie.jpg" width="250" />
        </div>
        <div class="body-review">
            <div class="name-review">Marie E.

            </div>
            <div class="place-review">California</div>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>

            <div class="desc-review">Using Dirt Dwellers I know how to finally grow my own vegtables.</divdiv>
            </div>
        </div>

    </div>




    <style>
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            margin: 20px 0px;
        }
    </style>