@page
@model Y23_DirtDwellers.Pages.Plants.IndexModel

@{



    ViewData["Title"] = "Index";
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



}
<img src="~/imgs/4.jpg" class="homeback" />


<h1>Our Gallery sent by our cilents</h1>

<div class="container5">
    <div class="gallery">
        <img src="imgs/indoors.jpg">
        <div class="desc">Indoor plants from our users</div>
    </div>
    <div class="gallery">
        <img src="imgs/cactus-garden.jpg">
        <div class="desc">Cactus garden from our users</div>
    </div>
    <div class="gallery">
        <img src="imgs/veggies.jfif">
        <div class="desc">Vegtables Garden</div>
    </div>
    <div class="gallery">
        <img src="imgs/strawberry.jpg">
        <div class="desc">Strawberry Garden</div>
    </div>
    <div class="gallery">
        <img src="imgs/herbs.jpg">
        <div class="desc">Herb Garden</div>
    </div>
    <div class="gallery">
        <img src="imgs/flowers.jpg">
        <div class="desc">Beautiful flower garden</div>
    </div>
</div>