@page
@model Y23_DirtDwellers.Pages.Plants.IndexModel

@{



    ViewData["Title"] = "Index";
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

}
<img src="~/imgs/4.jpg" class="homeback" />
<section id="about">
    <div id="pic">
        <h1>About Us</h1>
        <div id="intro">
            <img class="home-page-image" src="https://picsum.photos/500?random=100">


            <div class="container_1">

                <div class="box1">
                    <div class="icon"><i class="fa fa-search" aria-hidden="true">
                        </i></div>
                    <div class="content1">
                        <h6>Who we are</h6>
                        <p>We are DirtDwellers, an application to help you take care of your plants.
                        </p>
                    </div>
                </div>
                <div class="box1">
                    <div class="icon"><i class="fa fa-user" aria-hidden="true">
                        </i></div>
                    <div class="content1">
                        <h6>Our Team</h6>
                        <p>Application created by Jose & Eric.
                        </p>
                    </div>
                </div>
                <div class="box1">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true">
                        </i></div>
                    <div class="content1">
                        <h6>Location</h6>
                        <p>We are created moblie and desktop. Search us anywhere.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>
