@page
@model Y23_DirtDwellers.Pages.Plants.IndexModel

@{



    ViewData["Title"] = "Index";
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

}
<img src="~/imgs/4.jpg" class="homeback" />


<h1>About Us</h1>

<div class="slideshow">
    <div class="slide-wrapper">

        <!-- Define each of the slides
         and write the content -->

        <div class="slide">
            <h1 class="slide-number">
                Our Mission
            </h1><br><br><br>
            <div class="about-text">We want to recreate the connection between people and the amazing natural world
                around us.</div>
        </div>
        <div class="slide">
            <h1 class="slide-number">
                Our Mission
            </h1><br><br><br>
            <div class="about-text">Because we believe technology is the answer, we created Dirt Dwellers as the digital
                interface to bring people and nature together.</div>
        </div>
        <div class="slide">
            <h1 class="slide-number">
                Our Story
            </h1><br><br><br>
            <div class="about-text">Our founder was traipsing through a
                friend’s backyard and wondered about the identity of a plant he stumbled across.</div>
        </div>
        <div class="slide">
            <h1 class="slide-number">
                Our Story
            </h1><br><br><br>
            <div class="about-text">When they realized that no one knew what it was, he found a problem he wanted to
                solve.</div>
        </div>
    </div>
</div>

<div id="intro">
    <div class="container_1">

        <div class="box1">
            <div class="icon"><i class="fa fa-search" aria-hidden="true">
                </i></div>
            <div class="content1">
                <h6>Who we are</h6>
                <p>We are DirtDwellers, an application to help you take care of your plants.
                </p>
            </div>
        </div>
        <div class="box1">
            <div class="icon"><i class="fa fa-user" aria-hidden="true">
                </i></div>
            <div class="content1">
                <h6>Our Team</h6>
                <p>Application created by Jose, Eric and Jesse.
                </p>
            </div>
        </div>
        <div class="box1">
            <div class="icon"><i class="fa fa-map-marker" aria-hidden="true">
                </i></div>
            <div class="content1">
                <h6>Location</h6>
                <p>We are created moblie and desktop. Search us anywhere.
                </p>
            </div>
        </div>


    </div>
</div>

<section class="services">
    <h1>Our Services</h1>
    <div class="container">
        <div class="box">
            <img src="imgs/water1.png">
            <div class="info">
                <h10>Reminder!</h10>

                <p class="text1">We send emails every day to water your plants, take proper care of them.</p>




            </div>
        </div>
        <div class="box">
            <img src="imgs/services.jpg">
            <div class="info">
                <h10>Gardens</h10>

                <p>We offer step by step how to start off a garden right. Download our app and start yours today!
                </p>



            </div>
        </div>
        <div class="box">
            <img src="imgs/plants2.jpg">
            <div class="info">
                <h10>DirtDwellers</h10>

                <p>Free of use, no cost to download DirtDwellers, we are an open application to help you keep your
                    plants alive,
                    get rid of bad insects attacking your plants/interesting facts and many more!
                </p>



            </div>
        </div>
        <div class="box">
            <img src="imgs/plantidcard.png">
            <div class="info">
                <h10>Plant ID</h10>

                <p>Not sure which plant you have and want to find out? Take a picture!</p>



            </div>
        </div>
    </div>
</section>
