@page
@model Y23_DirtDwellers.Pages.Plants.IndexModel

@{



    ViewData["Title"] = "Index";
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

}
<img src="~/imgs/4.jpg" class="homeback" />
<section id="about">
    <div id="pic">
        <h1>About Us</h1>
        <div id="intro">
            <img class="home-page-image" src="https://picsum.photos/500?random=100">


            <div class="container_1">

                <div class="box1">
                    <div class="icon"><i class="fa fa-search" aria-hidden="true">
                        </i></div>
                    <div class="content1">
                        <h6>Who we are</h6>
                        <p>We are DirtDwellers, an application to help you take care of your plants.
                        </p>
                    </div>
                </div>
                <div class="box1">
                    <div class="icon"><i class="fa fa-user" aria-hidden="true">
                        </i></div>
                    <div class="content1">
                        <h6>Our Team</h6>
                        <p>Application created by Jose & Eric.
                        </p>
                    </div>
                </div>
                <div class="box1">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true">
                        </i></div>
                    <div class="content1">
                        <h6>Location</h6>
                        <p>We are created moblie and desktop. Search us anywhere.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>



<section class="services">
    <h1>Our Services</h1>
    <div class="container">
        <div class="box">
            <img src="imgs/sunflower.jpg">
            <div class="info">
                <h3>Sunflowers</h3>

                <p> At the bud stage, sunflowers exhibit a unique trait called heliotropism, with which the bud of the
                    sunflower faces the sun at all times throughout the day,
                    starting the day facing east and ending it facing west. Not all sunflower petals are yellow
                </p>
                <button class="btn">More</button>


            </div>
        </div>
        <div class="box">
            <img src="imgs/aloe.jpg">
            <div class="info">
                <h3>Aloe Vera</h3>

                <p>Aloe vera is commonly known as a topical gel used to treat sunburn. Promisingly, it may also provide
                    other health benefits, largely due to its antioxidant properties.
                    Preliminary research has indicated that aloe vera may benefit your skin, dental, oral, and digestive
                    health. It may even improve blood sugar control.</p>
                <button class="btn">More</button>


            </div>
        </div>
        <div class="box">
            <img src="imgs/water1.png">
            <div class="info">
                <h3>Reminder!</h3>

                <p>We send emails every day to water your plants, take proper care of them.</p>
                <button class="btn">More</button>



            </div>
        </div>
        <div class="box">
            <img src="imgs/services.jpg">
            <div class="info">
                <h3>Gardens</h3>

                <p>We offer step by step how to start off a garden right. Download our app and start yours today!
                </p>
                <button class="btn">More</button>


            </div>
        </div>
        <div class="box">
            <img src="imgs/plants2.jpg">
            <div class="info">
                <h3>DirtDwellers</h3>

                <p>Free of use, no cost to download DirtDwellers, we are an open application to help you keep your
                    plants alive,
                    get rid of bad insects attacking your plants/interesting facts and many more!
                </p>
                <button class="btn">More</button>


            </div>
        </div>
        <div class="box">
            <img src="imgs/plantidcard.png">
            <div class="info">
                <h3>Plant ID</h3>

                <p>Not sure which plant you have and want to find out? Take a picture!</p>
                <button class="btn">More</button>


            </div>
        </div>
    </div>
</section>
