@page
@model Y23_DirtDwellers.Pages.Plants.IndexModel

@{



    ViewData["Title"] = "Index";
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

}
<img src="~/imgs/4.jpg" class="homeback" />


<h1>Indoor vs Outdoor</h1>


<section id="plants-blog">

    <div class="blog-heading">

    </div>

    <div class="blog-container">
        <div class="blog-box">
            <div class="blog-img">
                <img src="imgs/lightingplants.jpg" alt="Blog" </div>
            </div>

            <div class="blog-text">
                <span>Indoor Plants</span>
                <a href="#" class="blog-title">Best lighting for plants at home</a>
                <p>If you don't have enough lighting at home. You can set yourself up with artifical lightings, LED or
                    household bulbs. </p>

                <p>Growing indoor plants dry a lot slower than outdoors, always check the hudmity in the house. Get
                    yourself a moisture meter. </p>

                <p>Best lights to use are 2700-6000 Kelvins.</p>


            </div>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="imgs/indoorplant.jpg" alt="Blog" </div>
            </div>

            <div class="blog-text">
                <span>Indoor Plants</span>
                <a href="#" class="blog-title">Watering indoor plants</a>
                <p>Be careful watering indoor plants, they dry out very slowly compared to outdoors.</p>

                <p>It's easy to overwater indoor plants because of less moisture in the house. You might spend a little
                    less time
                    with them.
                </p>

                <p>Never overwater them. Water from the bottom using a saucer if the plant pots has a drainage or mist
                    regularly.</p>


            </div>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="imgs/airflow.jpg" alt="Blog" </div>
            </div>

            <div class="blog-text">
                <span>Indoor Plants</span>
                <a href="#" class="blog-title">Airflow</a>
                <p>Plants appreciate airflow and humidity. Indoors you have a stale type of air.
                <p>
                    It might affect the plants and need proper airflow because the plants
                    take a lot of nutrients and moisture from the air.</p>

                <p>Get a fan on or if you have AC that helps a lot too & to keep the plants a healthy lifestyle.</p>

                </p>
                </p>
            </div>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="imgs/rainplants.jpg" alt="Blog" </div>
            </div>

            <div class="blog-text">
                <span>Outdoor Plants</span>
                <a href="#" class="blog-title">Rain</a>
                <p>When it rains, it is great for plants because rain contains a lot of
                    oxygen and nitrogen.</p>

                <p>You water your outdoors plants more heavily, which means nutrients will be used up more quickly.</p>

                <p>On hot days, you should water your plants for 20-30 minutes.</p>


            </div>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="imgs/rot.jpg" alt="Blog" </div>
            </div>

            <div class="blog-text">
                <span>Outdoor plants</span>
                <a href="#" class="blog-title">Rot on outdoor plants</a>
                <p>Outdoor plants, you will see a lot of physical damage on the leafs, such as torn, rot, holes.</p>

                <p>Outdoor plants contain more fungus and high humidity which causes the plants to rot.</p>

                <p>There are products you can buy to save your plants from roting. Use Shake 'n Feed all purpose plant
                    food.</p>



            </div>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="imgs/pests.jpg" alt="Blog" </div>
            </div>

            <div class="blog-text">
                <span>Outdoor Plants</span>
                <a href="#" class="blog-title">Pests</a>
                <p>If you keep your plants healthy, feeding them with the right fertilizer, proper soil & right water.
                    Pests won't
                    attack.
                <p>
                    Growing your plants at the wrong time can cause a higher chance of pests ruining your garden.
                    Harvest them early, don't wait.</p>

                <p>When you see pests, remove them. Watering them down will get rid of them too.</p>

                </p>
                </p>
            </div>
        </div>

</section>