html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;

}

.text-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

}

/* .Edit {
  color: black !important;
  font-family: 'Times New Roman', Times, serif;
} */

.homeback {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100vw;
  z-index: -1;
}

.netborderbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.netborderbox1 {
  align-self: center;
  background-color: rgba(0, 0, 0, .4);
  width: 500px;
  height: 420px;
}

.netborderbox2 {
  font-family: algerian;
  font-size: calc(3.475rem + 2.7vw);
  color: white;
  /* font-size: 5em; */
  text-shadow: 4px 4px 2px black;
  align-self: center;
  background-color: rgba(0, 0, 0, .1);
  border: 4px solid white;
  /* border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%; */
  margin-top: 4%;
  margin-left: 10%;
  width: 400px;
  height: 275px;
}

.h1-index-display {
  font-family: algerian;
  border: 4px solid white;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  width: 480px;
  margin-top: 4%;
  margin-left: 2%;
  padding-bottom: 2%;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexbox-item {
  width: 250px;
  height: 450px;
  margin: 10px;
  border: 3px solid black;
}

.flexbox-item1 {
  position: relative;
  text-align: center;
  min-height: 80vh;
  font-size: large;
  font-family: algerian;
  color: white;
  background-color: rgba(0, 0, 0, .6);
  background-image: url("https://picsum.photos/500?random=3");
  /* Can only have 1 BG color/image so using blend to combine the 2 */
  background-blend-mode: multiply;
  background-size: cover;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  height: 0;
  right: 50px;
  width: 90%;
  font-weight: lighter;
  color: white;
  text-align: center;
  font-size: 1em;
  font-family: algerian;
  /* setting opacity to 60% to blend with bg img */
  background-color: rgba(0, 0, 0, .6);
  /* Can only have 1 BG color/image so using blend to combine the 2 */
  background-blend-mode: multiply;
  background-size: cover;
  text-decoration: none;
  border: 3px solid white;
  margin: 15px auto;
  padding: 29px auto;
  transition: height 4s ease-out;
  overflow: hidden;
}

.flexbox-item1:hover>.text {
  height: 70vh;
}

.flexbox-item2 {
  flex-grow: 2;
  position: relative;
  text-align: center;
  min-height: 80vh;
  font-size: x-large;
  font-family: algerian;
  color: white;
  background-color: rgba(0, 0, 0, .6);
  background-image: url("https://picsum.photos/500?random=3");
  /* Can only have 1 BG color/image so using blend to combine the 2 */
  background-blend-mode: multiply;
  background-size: cover;
  overflow: hidden;
}

.text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  height: 0;
  right: 50px;
  width: 90%;
  text-shadow: 4px 4px 2px black;
  /* left: 50px; */
  font-weight: lighter;
  color: white;
  text-align: center;
  font-family: algerian;
  font-size: large;
  /* setting opacity to 60% to blend with bg img */
  background-color: rgba(0, 0, 0, .6);
  /* Can only have 1 BG color/image so using blend to combine the 2 */
  background-blend-mode: multiply;
  background-size: contain;
  text-decoration: none;
  border: 3px solid white;
  margin: 15px auto;
  padding: 29px auto;
  transition: height 2s ease-out;
  overflow: hidden;
}

.flexbox-item2:hover>.text2 {
  height: 70vh;
}

.flexbox-item3 {
  position: relative;
  text-align: center;
  min-height: 80vh;
  font-size: large;
  font-family: algerian;
  color: white;
  background-color: rgba(0, 0, 0, .6);
  background-image: url("https://picsum.photos/500?random=7");
  /* Can only have 1 BG color/image so using blend to combine the 2 */
  background-blend-mode: multiply;
  background-size: cover;
  overflow: hidden;
}

.text3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  height: 0;
  right: 50px;
  width: 90%;
  /* left: 50px; */
  font-weight: normal;
  color: white;
  text-align: center;
  font-size: large;
  /* setting opacity to 60% to blend with bg img */
  background-color: rgba(0, 0, 0, .6);
  /* Can only have 1 BG color/image so using blend to combine the 2 */
  background-blend-mode: multiply;
  background-size: cover;
  text-decoration: none;
  border: 3px solid white;
  margin: 15px auto;
  padding: 29px auto;
  transition: height 3s ease-out;
  overflow: hidden;
}

.flexbox-item3:hover>.text3 {
  height: 70vh;
}

/* ------------------------------------ */

.menuback {

  height: 100vh;

}

h1 {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  /* padding-top: 120px; */
}

.h1-header {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  border: 2px solid white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: 500;
}



.wrapper2 {
  width: 400px;
  height: 450px;
  color: #000;
  top: 65%;
  left: 50%;
  padding: 60px 30px;
  position: absolute;
  background-color: rgba(159, 153, 151, 0.5);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px #000;
}

#registerSubmit {
  background-color: rgb(100, 87, 78) !important;
  border-color: rgb(100, 87, 78) !important;
}

.bottom-text {
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
  height: 30px;
  padding-top: 1%;
}

.bottom-text input {
  width: 10%;
  float: left;
}

.socials {
  margin-top: 12%;
  text-align: center;
}

.socials a {
  width: 30px;
  height: 30px;
  display: inline-block;


  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 5px;
}

.socials a:nth-child(1) {
  background: #3b5998
}

.socials a:nth-child(2) {
  background: #55acee
}

.socials a:nth-child(3) {
  background: #9f3760
}

.socials a:nth-child(4) {
  background: #3b5998
}

/* About Us Section */

#overlay {
  position: absolute;

  z-index: -5;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;

}

#about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 210px;
  margin-bottom: 100px;

}

#pic {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.heading1 {
  color: white;
  font-family: century;
  font-size: 3rem;
  text-align: center;
  padding: 0px;
}

#pic img {
  width: 575px;
  height: 400px;
}

#intro {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 45px;
  background-color: rgb(76, 68, 59, 0.5);
}

.text {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: white;
}

h2 {
  font-family: century;
  font-size: 1rem;
  margin-bottom: 20px;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.box {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 20px;
  align-items: center;
  text-align: justify;
  padding: 20px;
  border: rgb(156, 135, 119) 1px solid;
  border-radius: 15px;
  background: linear-gradient(to top, rgb(76, 68, 59, 0.5) 50%, white 50%);
  background-size: 100% 200%;
  transition: all 0.8s;
}

.box:hover {
  background-position: bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgba(172, 151, 135, 1);
}

/* Coffee Page Section */

.table {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
  background-color: rgb(165, 160, 154, 0.5) !important;
}

.EditCoffe {
  color: white !important;
  font-family: 'Times New Roman', Times, serif !important;
  font-size: 20px !important;

}

.coffeBean {
  width: 150px !important;
}

/* Contact Page */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 20px 0px;
}