@page
@model IndexModel
@{















    ViewData["Title"] = "Home page";
}
<img src="~/imgs/background1.jpg" class="homeback" />
<div class="netborderbox-container">
    <div class="text-center">
        <div class="netborderbox1">
            <h1 class="h1-index-display display-4">Welcome to</h1>
            <div class="netborderbox2">.NET <br> Dirt Dwellers

            </div>
        </div>
    </div>

    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<div class="flexbox-container">
    <div class="flexbox-item flexbox-item1">Interesting Fact About Plants...
        <span class="text"><b>Did you know..?</b>Plants were the first things on Earth! Trees help to keep
            our air supply fresh by absorbind Carbon Dioxide + Producing Oxygen.</span>
    </div>

    <div class="flexbox-item flexbox-item2">Hover for some facts about Plants<span class="text2">Trees can live for
            thousands of years!
            Bristilecone pine treesin the usa are the world's oldest tree! They live nearly 4000 years old!
        </span></div>

    <div class="flexbox-item flexbox-item3">Amazing facts about Plants<span class="text3">Plants can recongize their
            Siblings
            and give them professional treatment. They compete less with them for resources like Root space as compared
            to strangers.
        </span></div>
</div>
