@page
@model IndexModel
@{



    <script src="https://kit.fontawesome.com/afb4fa2f58.js" crossorigin="anonymous"></script>



    ViewData["Title"] = "Home page";
}
<img src="~/imgs/8.jpg" class="homeback" />
<div class="netborderbox-container">
    <div class="text-center">
        <div class="netborderbox1">
            <h1 class="h1-index-display">Welcome to <br>Dirt <br> Dwellers</h1>
            <div class="netborderbox2">Tired of forgetting when to water your plants? <br> Not sure what kind of
                plant you’re looking at? <br> Take a picture and we’ll try to identify it. <br> We’ll also send you
                reminders on feeding times. <br> Our site is for plant lovers, new or experienced who want <br>help,
                tips, and tricks on what to do, to manage a garden near you!
            </div>
        </div>
    </div>
</div>
<div class="home-flexbox-container">
    <section class="home-section1"><img class="page-image" src="~/imgs/rebecca.jpg">
        <p class="p-text">Learn how to&nbsp;<a
                href="https://commonsensehome.com/start-a-garden/#:~:text=%20How%20to%20Start%20a%20Garden%20%E2%80%93%2010,a%20pleasure%20instead%20of%20a%20chore.%20More%20">
                Start your own garden in 10 easy steps</a>.</p>
        <p class="p-text">Learn the basics of&nbsp;<a href="https://www.almanac.com/vegetable-gardening-for-beginners">
                Vegetable Gardening for Beginners</a>.</p>
        <p class="p-text">Check out our&nbsp;<a
                href="https://www.miraclegro.com/en-us/library/gardening-basics/10-top-gardening-tips-beginners">
                10 Top Gardening Tips for Beginners</a>.</p><br>
        <p class="p-last-text">Get planting and care tips from<a
                href="https://www.thespruce.com/plants-and-flowers-5092674">
                Master Gardeners </a>on every plant in your garden, from annual and perennial flowers to trees and
            shrubs.</p>
    </section>
</div>
<div class="flexbox-container">
    <div class="flexbox-item flexbox-item1">Interesting Fact About Plants...
        <span class="text"><b> <br><br><br> Did you know..?</b>Plants were the first things on Earth! Trees help to keep
            our air supply fresh by absorbind Carbon Dioxide + Producing Oxygen.</span>
    </div>
    <div class="flexbox-item flexbox-item2">Hover for some facts about Plants<span class="text2"><br><br><br>Trees can
            live for
            thousands of years!
            Bristilecone pine treesin the usa are the world's oldest tree! They live nearly 4000 years old!
        </span></div>

    <div class="flexbox-item flexbox-item3">Amazing facts about Plants<span class="text3"><br><br><br>Plants can
            recongize their
            Siblings
            and give them professional treatment. They compete less with them for resources like Root space as compared
            to strangers.
        </span></div>
</div>

<section class="home-section2">

    <h5>FAQ</h5>
    <div class="container">
        <div class="accordion">
            <div class="accordion-item" id="question1">
                <a class="accordion-link"
                    href="https://www.goodearthplants.com/six-ways-to-revive-a-dying-house-plant-before-its-too-late">
                    Why is my plant dying?
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-minus"></i>
                </a>
                <div class="answer">
                    <p>
                        If you forgot to water for a few days, it's possible that the roots dried up.
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="question2">
                <a class="accordion-link"
                    href="https://mycityplants.com/blogs/plant-journal/how-to-choose-the-best-plants-for-your-home">
                    How do I choose a plant?
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-minus"></i>
                </a>
                <div class="answer">
                    <p>
                        Choose plants that like full sun for sunny locations and choose plants that like shade for shady
                        locations
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="question3">
                <a class="accordion-link"
                    href="https://www.gardeningknowhow.com/plant-problems/environmental/signs-of-plants-affected-by-too-much-water.htm">
                    Am I watering my plants too much?
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-minus"></i>
                </a>
                <div class="answer">
                    <p>
                        If the base of the plant stem begins to feel mushy or not stable
                        you're overwatering them.
                </div>
            </div>

            <div class="accordion-item" id="question4">
                <a class="accordion-link"
                    href="https://www.familyhandyman.com/list/10-worst-garden-insect-pests-and-how-to-get-rid-of-them">
                    How do I get bad insects out of my garden?
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-minus"></i>
                </a>
                <div class="answer">
                    <p>
                        Control your weeds, use insect traps, start by using clean soil.
                    </p>

                </div>
            </div>

        </div>
    </div>
</section>