@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<img src="~/imgs/background.jpg" class="homeback" />
<div class="netborderbox-container">
    <div class="text-center">
        <div class="netborderbox1">
            <h1 class="h1-index-display display-4">Welcome to</h1>
            <div class="netborderbox2">Dirt <br> Dwellers

            </div>
        </div>
    </div>

    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<div class="flexbox-container">
    <div class="flexbox-item flexbox-item1">Interesting Fact About Coffee...
        <span class="text"><b>Second in the world!</b>Coffee is consumed in such great quantities, it is the world’s 2nd
            largest traded commodity, surpassed only by crude oil. It is our most beloved beverage after water. It’s
            worth well over $100 billion worldwide. </span>
    </div>

    <div class="flexbox-item flexbox-item2">Hover here to see where coffee comes from...<span class="text2">The coffee
            plant originated in Ethiopia, but coffee is now grown throughout the global south. Specifically, coffee
            likes mountainous environments, so the Americas are great for coffee growing. Perhaps that’s why 67% of the
            world’s coffee comes from there (most notably, Brazil, the world’s biggest producer of coffee)!</span></div>

    <div class="flexbox-item flexbox-item3">Add cream, keep your coffee warm<span class="text3">Coffee stays warm 20%
            longer when you add cream. You’ll have to ask a physicist about that one. We reckon it might have something
            to do with the principle that makes hot water more suitable for making ice cubes than cold water when you’re
            in a hurry to cool down your fresh beverage.</span></div>
</div>
