@page
@model IndexModel
@{



    <script src="https://kit.fontawesome.com/afb4fa2f58.js" crossorigin="anonymous"></script>



    ViewData["Title"] = "Home page";
}
<img src="~/imgs/background1.jpg" class="homeback" />
<div class="netborderbox-container">
    <div class="text-center">
        <div class="netborderbox1">
            <h1 class="h1-index-display display-4">Welcome to</h1>
            <div class="netborderbox2">.NET <br> Dirt Dwellers

            </div>
        </div>
    </div>

    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<div class="flexbox-container">
    <div class="flexbox-item flexbox-item1">Interesting Fact About Plants...
        <span class="text"><b>Did you know..?</b>Plants were the first things on Earth! Trees help to keep
            our air supply fresh by absorbind Carbon Dioxide + Producing Oxygen.</span>
    </div>

    <div class="flexbox-item flexbox-item2">Hover for some facts about Plants<span class="text2">Trees can live for
            thousands of years!
            Bristilecone pine treesin the usa are the world's oldest tree! They live nearly 4000 years old!
        </span></div>

    <div class="flexbox-item flexbox-item3">Amazing facts about Plants<span class="text3">Plants can recongize their
            Siblings
            and give them professional treatment. They compete less with them for resources like Root space as compared
            to strangers.
        </span></div>
</div>

<section>

    <h5>FAQ</h5>
    <div class="container">
        <div class="accordion">
            <div class="accordion-item" id="question1">
                <a class="accordion-link" href="question1">
                    Why is my plant dying?
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-minus"></i>
                </a>
                <div class="answer">
                    <p>
                        If you forgot to water for a few days, it's possible that the roots dried up.
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="question2">
                <a class="accordion-link" href="question2">
                    How do I choose a plant?
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-minus"></i>
                </a>
                <div class="answer">
                    <p>
                        Choose plants that like full sun for sunny locations and choose plants that like shade for shady
                        locations
                    </p>
                </div>
            </div>

            <div class="accordion-item" id="question3">
                <a class="accordion-link" href="question3">
                    Am I watering my plants too much?
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-minus"></i>
                </a>
                <div class="answer">
                    <p>
                        If the base of the plant stem begins to feel mushy or not stable
                        you're overwatering them.
                </div>
            </div>

            <div class="accordion-item" id="question4">
                <a class="accordion-link" href="question4">
                    How do I get bad insects out of my garden?
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-minus"></i>
                </a>
                <div class="answer">
                    <p>
                        Control your weeds, use insect traps, start by using clean soil.
                    </p>

                </div>
            </div>

        </div>
    </div>
</section>