@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="privacy-container">
    <h1>@ViewData["Title"]</h1>
    <p class="p-privacy">The privacy policy is one of the most essential legal requirements for websites.

        Even if you just have a small business or a blog with no income at all, you might be surprised to discover that
        you still need a privacy policy.

        Basically, if your website collects personal data, you need a privacy policy that informs your users about this
        according to privacy laws in most jurisdictions, including the EU and the US.

        Almost all modern websites function with the use of cookies, so chances are high that your website is collecting
        personal data, for example for statistical, functional or marketing purposes.

        In this blogpost, we take a look at what constitutes a good privacy policy, how to make a compliant GDPR privacy
        policy and whether using a privacy policy generator is a good idea.

        Learn what the privacy policy is and how to get one for your website below.</p>

    <h1>What is a privacy policy?</h1>

    <p class="p-privacy">A privacy policy is a document that states what personal data you collect from your users, why,
        and how you keep it private.

        The purpose of the privacy policy is to inform your users about how their data is being handled.

        Hence, the privacy policy should be accessible for your users and kept in a plain and readable language.

        Most countries have privacy laws requiring that websites collecting personal data have a proper privacy policy
        in place.

        Failure to comply can result in heavy fines and even prosecution. Are you based in the EU or providing services
        to EU citizens, you must have a GDPR-compliant privacy policy on your domain.

        We will get into this in more detail below.<br> Use this page to detail your site's privacy policy.</p>

    <h1>Do I need a privacy policy for my website?</h1>

    <p class="p-privacy">You probably do. If your website collects personal data, you need a privacy policy.

        Most websites collect user data. Often, it happens without the website owner even being aware of it, by means of
        cookies.

        If your website is hosted, or if you use plugins, social media-buttons, analytics tools and the like on your
        website, then it does set cookies and collect user data.</p><br>
</div>
