@page
@model TermsofUseModel
@{
    ViewData["Title"] = "Terms of Use";
}
<div class="privacy-container">
    <h1>@ViewData["Title"]</h1>
    <p class="p-privacy">To protect your website, company, and customers, you need to state your terms of use in clear,
        simple, and easily understood language. Our simple terms and conditions template can instantly generate a custom
        terms of service policy for your business.

        Once your free terms of service policy is generated, you’ll be able to continue customizing and making
        adjustments until it’s perfect.</p>

    <h1>Terms and Conditions</h1>

    <p class="p-privacy">A terms and conditions policy, also known as terms of service or terms of use, is a legal
        document that is developed to protect the company. It tells your customers what will be legally required of them
        if they use your service (including websites and mobile apps).<br> Use this page to detail your site's privacy
        policy.
        A terms and conditions policy is not required by law like a privacy policy. However, if a legal
        dispute arises, a
        terms and conditions policy may help a company in a court of law.</p>

    <h1>Why do online stores need terms and conditions?</h1>

    <p class="p-privacy">A terms and conditions policy is often a webpage that is linked from the footer of a website,
        along with the privacy policy. The footer is a consistent design element that is seen across all pages of a
        website.

        Most websites collect user data. Often, it happens without the website owner even being aware of it, by means of
        cookies.

        If your website is hosted, or if you use plugins, social media-buttons, analytics tools and the like on your
        website, then it does set cookies and collect user data.</p><br>
</div>